#canvas {
    height: 200px;
    width: 500px;
    border: 1px solid black;
}

.body-segment {
    height: 80px;
    width: 80px;
    border-radius: 150px;
    display: inline-block;
    margin-top: 50px;
    margin-left: -20px;
   
    
}

.magenta {
    background: magenta;
}
.lawngreen {
    background: lawngreen;
}
.aqua {
    background: aqua;
}
.lightcoral {
    background: lightcoral;
}

.dance-segment {
    margin-bottom: 25px;
}

img {
    width: 25px;
    margin: 5px;
}

.color-button {
    border: 1px solid black;
    margin: 5px;
}

#caterpillar-head {
    height: 100px;
    width: 100px;
    margin-top: 50px;
}